nav{
    position: fixed;
    top:0;
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    border-bottom: 1px solid #33333336;
    background-color: #33333336;
}