/* Container settings */
.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow: hidden;
  }
  
  /* Content area */
  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    flex: 1;
  }
  
  /* Media container with 80% viewport height */
  .media-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .media {
    max-width: 100%;
    height:100%;
    object-fit: cover;
    border: 1px solid gray;
    border-radius: 8px;
  }
  
  /* Button container */
  .button-container {
    position: absolute;
bottom: 0;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  
  .btn {
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    width: 100%;
    text-align: center;
    padding: 10px;
  }
  
  .btn:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
  }
  
  .hidden-input {
    display: none;
  }
  
  /* Form container */
  .form-container {
    width: 100%;
  }
  
  .submit-btn {
    background-color: #28a745;
  }
  
  /* Output display */
  .output {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid gray;
    border-radius: 8px;
    background-color: #f8f9fa;
    width: 100%;
    max-width: 400px;
    text-align: center;
  }
  
  h3 {
    margin-bottom: 10px;
  }
  